.option {
  background: none;
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0px -2px;
  transition: all 0.2s ease-in-out;
}

.option:hover:not(.option--active) {
  text-decoration: underline;
  text-decoration-color: var(--color-text-primary);
}

.option--active {
  background: var(--color-primary);
}
