:root {

    --color-black: #131313;
    --color-background: #EFEFEF;
    --color-primary: #F5C543;
    --color-secondary: #E5E5E5;
    --color-text-primary: var(--color-black);
    --color-text-secondary: #7D7D7D;

}